<%= form_for(@leaderboard) do |f| %>
  <% if @leaderboard.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@leaderboard.errors.count, "error") %> prohibited this leaderboard from being saved:</h2>

      <ul>
      <% @leaderboard.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :board_type %><br />
    <%= f.text_field :board_type %>
  </div>
  <div class="field">
    <%= f.label :age_group %><br />
    <%= f.text_field :age_group %>
  </div>
  <div class="field">
    <%= f.label :exercise %><br />
    <%= f.text_field :exercise %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
