<h1>Welcome to the Leaderboards!</h1>

<table>
  <tr>
    <th></th>
    <th><%= sorter "Name" %></th>
    <th><%= sorter "Level"%></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= image_tag('avatarEx.png', size:"75x50") %></td>
    <td><%= user.name %></td>
    <td><%= user.level %></td>
  </tr>
<% end %>
</table>

<br />
