<h2>Welcome to the Leaderboards!</h2>
<br/>

<table>
  <tr>
    <th></th>
    <th><%= sorter "Name" %></th>
    <th><%= sorter "Level"%></th>
    <th><%= sorter "Points"%></th>
    <th><%= sorter "food_score" , "Diet Score" %></th>
    <th><%= sorter "exercise_done" , "Exercise Score" %></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr class="<%= cycle('list_line_odd', 'list_line_even') %>">
    <td><div><%= image_tag(user.avatar.image_name, size:"75x50") %></div></td>
    <td><div><%= user.name %></div></td>
    <td><div><%= user.level %></div></td>
    <td><div><%= user.points %></div></td>
    <td><div><%= user.food_score %></div></td>
    <td><div><%= user.exercise_done %></div></td>
  </tr>
<% end %>
</table>

<br />
