<p id="notice"><%= notice %></p>

<p>
  <b>Relation:</b>
  <%= @child_guardian_relationship.relation %>
</p>

<p>
  <b>Bonus:</b>
  <%= @child_guardian_relationship.bonus %>
</p>

<p>
  <b>Child:</b>
  <%= @child_guardian_relationship.child %>
</p>

<p>
  <b>Guardian:</b>
  <%= @child_guardian_relationship.guardian %>
</p>


<%= link_to 'Edit', edit_child_guardian_relationship_path(@child_guardian_relationship) %> |
<%= link_to 'Back', child_guardian_relationships_path %>
