<p id="notice"><%= notice %></p>

<p>
  <b>Relation:</b>
  <%= @child_guardian_relationship.relation %>
</p>

<p>
  <b>Bonus:</b>
  <%= @child_guardian_relationship.bonus %>
</p>

<p>
  <b>Child:</b>
  <%= @child_guardian_relationship.child.name %>
</p>

<p>
  <b>Watcher:</b>
  <%= @child_guardian_relationship.watcher.name %>
</p>


<%= link_to 'Edit', edit_child_guardian_relationship_path(@child_guardian_relationship) %> |
<%= render "back_to_profile" %>
