<p id="notice"><%= notice %></p>

<p>
  <b>Diet Name:</b>
  <%= @diet_plan.diet_name %>
</p>

<p>
  <b>Veggie serv:</b>
  <%= @diet_plan.veggie_serv %>
</p>

<p>
  <b>Prot serv:</b>
  <%= @diet_plan.prot_serv %>
</p>

<p>
  <b>Carbs serv:</b>
  <%= @diet_plan.carbs_serv %>
</p>

<p>
  <b>Fruit serv:</b>
  <%= @diet_plan.fruit_serv %>
</p>

<p>
  <b>Water serv:</b>
  <%= @diet_plan.water_serv %>
</p>

<p>
  <b>Sweets serv:</b>
  <%= @diet_plan.sweets_serv %>
</p>


<%= link_to 'Edit', edit_diet_plan_path(@diet_plan) %> |
<%= link_to 'Back', diet_plans_path %>
