<h1>Listing children</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Level</th>
    <th>Points</th>
    <th>Date of birth</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Sex</th>
    <th>Diet score</th>
    <th>Exercise score</th>
    <th>Diet plan</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @children.each do |child| %>
  <tr>
    <td><%= child.name %></td>
    <td><%= child.level %></td>
    <td><%= child.points %></td>
    <td><%= child.date_of_birth %></td>
    <td><%= child.height %></td>
    <td><%= child.weight %></td>
    <td><%= child.sex %></td>
    <td><%= child.diet_score %></td>
    <td><%= child.exercise_score %></td>
    <td><%= child.diet_plan %></td>
    <td><%= link_to 'Show', child %></td>
    <td><%= link_to 'Edit', edit_child_path(child) %></td>
    <td><%= link_to 'Destroy', child, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Child', new_child_path %>
