<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @child.name %>
</p>

<p>
  <b>Level:</b>
  <%= @child.level %>
</p>

<p>
  <b>Points:</b>
  <%= @child.points %>
</p>

<p>
  <b>Date of birth:</b>
  <%= @child.date_of_birth %>
</p>

<p>
  <b>Height:</b>
  <%= @child.height %>
</p>

<p>
  <b>Weight:</b>
  <%= @child.weight %>
</p>

<p>
  <b>Sex:</b>
  <%= @child.sex %>
</p>

<p>
  <b>Diet score:</b>
  <%= @child.diet_score %>
</p>

<p>
  <b>Exercise score:</b>
  <%= @child.exercise_score %>
</p>

<p>
  <b>Diet plan:</b>
  <%= @child.diet_plan %>
</p>


<%= link_to 'Edit', edit_child_path(@child) %> |
<%= link_to 'Back', children_path %>
