<h2>Listing articles</h2>
<br/>

<table>
  <tr>
    <th class="name_col">Name</th>
    <th>Topic</th>
    <th>Content</th>
    <th>Creator</th>
  </tr>

<% @articles.each do |article| %>
  <tr> 
    <td class="name_col"><%= link_to article.name, article.article_source%></td>
    <td><%= article.topic %></td>
    <td><div><%= article.content %></td>
    <td><%= if article.watcher != nil 
              article.watcher.name
            else
              "not found"
            end%></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Article', new_article_path %>
