<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @article.name %>
</p>

<p>
  <b>Topic:</b>
  <%= @article.topic %>
</p>

<p>
  <b>Article Source:</b>
  <%= @article.article_source %>
</p>


<%= link_to 'Edit', edit_article_path(@article) %> |
<%= render "back_to_profile" %>
