<h1>Listing users</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Birth date</th>
    <th>Sex</th>
    <th>Height</th>
    <th>Weight</th>
    <th>Points</th>
    <th>Level</th>
    <th>Exercise score</th>
    <th>Diet score</th>
    <th>Bio</th>
    <th>Type</th>
    <th>Diet Plan</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%= user.name %></td>
    <td><%= user.birth_date %></td>
    <td><%= user.sex %></td>
    <td><%= user.height %></td>
    <td><%= user.weight %></td>
    <td><%= user.points %></td>
    <td><%= user.level %></td>
    <td><%= user.exercise_score %></td>
    <td><%= user.diet_score %></td>
    <td><%= user.bio %></td>
    <td><%= user.type %></td>
    <td><% if user.type == "Child" %>
                <% if user.daily_diets.any? %>
                    <%=user.daily_diets.order('created_at DESC').first.carbs_eaten%>
                <% else %>
                    "not found"
                <% end %>
           <% end%>
        </td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New User', new_user_path %>
