<h1>Monitor Profile!</h1>
<p> Welcome to the monitor profile, where the name's made up.
	<p> This is the profile for <%=@user.name%></p>
	<br/>
	<div>
		<table>
			<tr>
			    <th>Name</th>
			    <th>Topic</th>
			    <th>Content</th>
			    <th>Creator Name </th>
			  </tr>

			<% @articles.each do |article| %>
			  <tr>
			    <td><%= article.name %></td>
			    <td><%= article.topic %></td>
			    <td><%= article.content %></td>
			    <td><%=
			    	if article.watcher != nil 
			              article.watcher.name
			        else
			        	"not found"
			        end%>
			    </td>
			  </tr>
			<% end %>
			</table>
		<%= link_to "Create a new Article!", new_article_path(:watcher_id => @user.id) %>
	</div>
	<br/>
	<div>
		<div><% @children.each do |child| %>
			    <%# @child = child %>
			    <% @curr_diet = child.daily_diets.order('created_at DESC').first %>
    			<% @curr_progress = child.points.to_f/15 * 100 %>
    			<% @curr_progress = child.points.to_f/15 * 100 %>
    			<% @curr_diet_progress = @curr_diet.carbs_eaten.to_f/@curr_diet.diet_plan.carbs_serv * 100 %>
			    <p><%= child.name %></p>
			    <%= child.points %></p>
			    Overall:<div class="minorProgBar">
				<div class="innerBar" style="width:<%= @curr_progress %>%"></div>
		<% end %>
		</div> 
		</div>
	</div>

		<div>
		<%= link_to "Monitor new child!",  new_child_guardian_relationship_path(:watcher_id => @user.id) %>
	</div>

<br/>
