<p id="notice"><%= notice %></p>

<p>
  <b>Color:</b>
  <%= @avatar.color %>
</p>

<p>
  <b>Name:</b>
  <%= @avatar.name %>
</p>

<p>
  <b>Description:</b>
  <%= @avatar.description %>
</p>

<p>
  <b>Child:</b>
  <%= @avatar.child %>
</p>


<%= link_to 'Edit', edit_avatar_path(@avatar) %> |
<%= link_to 'Back', avatars_path %>
