<p id="notice"><%= notice %></p>

<p>
  <b>Image name:</b>
  <%= @avatar.image_name %>
</p>

<p>
  <b>Child:</b>
  <%= @avatar.child %>
</p>


<%= link_to 'Edit', edit_avatar_path(@avatar) %> |
<%= link_to 'Back', avatars_path %>
