<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @monitor_profile.name %>
</p>

<p>
  <b>Bio:</b>
  <%= @monitor_profile.bio %>
</p>


<%= link_to 'Edit', edit_monitor_profile_path(@monitor_profile) %> |
<%= link_to 'Back', monitor_profiles_path %>
