<p id="notice"><%= notice %></p>

<p>
  <b>Body part:</b>
  <%= @exercise.body_part %>
</p>

<p>
  <b>Difficulty:</b>
  <%= @exercise.difficulty %>
</p>

<p>
  <b>Description:</b>
  <%= @exercise.description %>
</p>

<p>
  <b>Reps:</b>
  <%= @exercise.reps %>
</p>


<%= link_to 'Edit', edit_exercise_path(@exercise) %> |
<%= link_to 'Back', exercises_path %>
