<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @feature.name %>
</p>

<p>
  <b>Appearance:</b>
  <%= @feature.appearance %>
</p>

<p>
  <b>Level:</b>
  <%= @feature.level %>
</p>

<p>
  <b>Feature type:</b>
  <%= @feature.feature_type %>
</p>


<%= link_to 'Edit', edit_feature_path(@feature) %> |
<%= link_to 'Back', features_path %>
