<!DOCTYPE html>
<html>
<head>
  <title>Fitkids</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster|Oswald' rel='stylesheet' type='text/css'>
</head>
<!--<body class = "<%= controller.controller_name %>">-->
<body id="pageBody">
	<div id="headerWrapper">
		<header>
			<h1><%= link_to "Fitkids", "/"%></h1>
			<nav>
				<% if child_signed_in? %>
						<%= link_to('Profile', "/child_profile") %>        
				<% elsif watcher_signed_in? %>
						<%= link_to('Profile', "/watcher_profile") %>            
				<% end %>	
				<%= link_to "Leaderboard", "/"%>
				<%= link_to "About", "/"%>
				<%= link_to "Contact", "/"%>
			</nav>
		</header>
	</div>
	<div id="main">
		<div id="hmenu">
		<% if child_signed_in? %>
			<div>
			You're a kid!
			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
			</div>
		<% elsif watcher_signed_in? %>
			You're a watcher!
			<div>
			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
			</div>
		<% elsif user_signed_in? %>
			<div>
			You signed in weird.
			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>    
			</div>
		<% else %>
			<div>
			poo.
			<%= link_to('Login', new_user_session_path)  %>   
			</div>
		<% end %>
		</div>
		<p class="notice"><%= notice %></p>
		<p class="alert"><%= alert %></p> 
		<%= yield %>
	</div>

</body>
</html>
